<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geeker</title>

</head>
<body>
<a href="javascript:{
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.src = 'http://geeker.duapp.com/js/platform/qgroup.js';
            head.appendChild(script);
        };void(0);">自动加Q群</a>
----
<a href="http://qun.qq.com">去加群</a>
</body>
</html>